<p id="notice"><%= notice %></p>

<h1>Nominas</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Salary</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nominas.each do |nomina| %>
      <tr>
        <td><%= nomina.email %></td>
        <td><%= nomina.salary %></td>
        <td><%= nomina.position %></td>
        <td><%= link_to 'Show', nomina %></td>
        <td><%= link_to 'Edit', edit_nomina_path(nomina) %></td>
        <td><%= link_to 'Destroy', nomina, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nomina', new_nomina_path %>
