<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @nomina.email %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @nomina.salary %>
</p>

<p>
  <strong>Position:</strong>
  <%= @nomina.position %>
</p>

<%= link_to 'Edit', edit_nomina_path(@nomina) %> |
<%= link_to 'Back', nominas_path %>
